@font-face {
    font-family: Abel;
    src: url("../fonts/Abel/Abel-Regular.ttf");
}
@font-face {
    font-family: Amiri;
    src: url("../fonts/Amiri/Amiri-Regular.ttf");
}
@font-face {
    font-family: Anton;
    src: url("../fonts/Anton/Anton-Regular.ttf");
}
@font-face {
    font-family: Arsenal;
    src: url("../fonts/Arsenal/Arsenal-Regular.ttf");
}
@font-face {
    font-family: Baskerville;
    src: url("../fonts/Baskervville/Baskervville-Regular.ttf");
}
@font-face {
    font-family: BeVietnam-Pro;
    src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Regular.ttf");
}
@font-face {
    font-family: BeauRivage;
    src: url("../fonts/Beau_Rivage/BeauRivage-Regular.ttf");
}
@font-face {
    font-family: BerkshireSwash;
    src: url("../fonts/Berkshire_Swash/BerkshireSwash-Regular.ttf");
}
@font-face {
    font-family: Cormorant;
    src: url("../fonts/Cormorant/Cormorant-Regular.ttf");
}
@font-face {
    font-family: CrimsonPro;
    src: url("../fonts/Crimson_Pro/CrimsonPro-VariableFont_wght.ttf");
}
@font-face {
    font-family: Gelasio;
    src: url("../fonts/Gelasio/Gelasio-Regular.ttf");
}
@font-face {
    font-family: IBM Plex-Serif;
    src: url("../fonts/IBM_Plex_Serif/IBMPlexSerif-Regular.ttf");
}
@font-face {
    font-family: Italianno;
    src: url("../fonts/Italianno/Italianno-Regular.ttf");
}
@font-face {
    font-family: JosefinSans;
    src: url("../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf");
}
@font-face {
    font-family: JosefinSlab;
    src: url("../fonts/Josefin_Slab/JosefinSlab-VariableFont_wght.ttf");
}
@font-face {
    font-family: Krub;
    src: url("../fonts/Krub/Krub-Regular.ttf");
}
@font-face {
    font-family: Laila;
    src: url("../fonts/Laila/Laila-Regular.ttf");
}
@font-face {
    font-family: Lexend;
    src: url("../fonts/Lexend/Lexend-VariableFont_wght.ttf");
}
@font-face {
    font-family: Lexend Deca;
    src: url("../fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf");
}
@font-face {
    font-family: Livvic;
    src: url("../fonts/Livvic/Livvic-Regular.ttf");
}
@font-face {
    font-family: Merriweather;
    src: url("../fonts/Merriweather/Merriweather-Regular.ttf");
}
@font-face {
    font-family: Nanum;
    src: url("../fonts/Nanum_Myeongjo/NanumMyeongjo-Regular.ttf");
}
@font-face {
    font-family: Niconne;
    src: url("../fonts/Niconne/Niconne-Regular.ttf");
}
@font-face {
    font-family: Old-Standard TT;
    src: url("../fonts/Old_Standard_TT/OldStandardTT-Regular.ttf");
}
@font-face {
    font-family: Open-Sans;
    src: url("../fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf");
}
@font-face {
    font-family: Padauk;
    src: url("../fonts/Padauk/Padauk-Regular.ttf");
}
@font-face {
    font-family: Pinyon-Script;
    src: url("../fonts/Pinyon_Script/PinyonScript-Regular.ttf");
}
@font-face {
    font-family: Robot_Slab;
    src: url("../fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf");
}
@font-face {
    font-family: Rufina;
    src: url("../fonts/Rufina/Rufina-Regular.ttf");
}
@font-face {
    font-family: Sansita;
    src: url("../fonts/Sansita/Sansita-Regular.ttf");
}
@font-face {
    font-family: Sorts_Mill_Goudy;
    src: url("../fonts/Sorts_Mill_Goudy/SortsMillGoudy-Regular.ttf");
}