@media (min-width: 953px){
      .main-section{
            display: grid;
            grid-template-columns: 70% 30%;
            grid-gap: 15px;
        }
}
@media (max-width: 952px){
   .main-section{
        display: grid;
        height: auto;
        grid-template-rows: 1fr 1fr;
        grid-gap: 15px;
   }
   .main-section .main{
        margin-bottom: 0;
   }

}